<head>
	<meta charset="utf-8" />
	<title>Galereya</title>
    <link href="/static/css/jquery.galereya2.css" rel="stylesheet"/>

    <!-- JavaScript -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.galereya.min.js"></script>
    <script>
        $(function() {
            $('#galleryherepls').galereya();
        });
    </script>
</head>
<body>
    <div id="galleryherepls">
        <img src="http://deliver.odai.yale.edu/content/repository/YCBA/object/40109/type/2/format/3"
            alt="Title here"
            title="Or here(more priority)"
            data-desc="some description"
            data-category="image category here"
            data-fullsrc="path/to/full/image."
        />        
        <img src="http://deliver.odai.yale.edu/content/repository/YCBA/object/40109/type/2/format/3"
            alt="Image"
            data-desc="Example"
            data-fullsrc="imgs/image42.jpg"
        />
    </div>
</body>