<html>
    <head>
        <title>YDC2</title> 
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap -->
        <!-- CSS -->
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
        <link href="../static/css/jquery.galereya.css" rel="stylesheet"/>

        
        <!-- javascript -->
        <script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>       
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.galereya.js"></script>
        <script>
        $(function() {
            $('#galleryherepls').galereya();
        });
        </script>

        <div class = "page-header">
            <h1> YDC2 <small> images by the years </small> </h1>
        </div>
    </head>

    <body>
        {% block content %}
        <!-- derived templates can insert themselves -->
        {% endblock %}
    </body>
</html>