<html>
	<head>
		<title>YDC2</title>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
	    <!-- CSS -->
	    <link href="../static/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
	    <link href="../static/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
	    
	    <!-- javascript -->
    	<script type="text/javascript" 
    	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    	</script>	    
	    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>

	</head>
	<body>
		<div>YDC2:
			<a href="/index">Home</a> | <a href="{{url_for('search')}}">Search</a>
		</div>

		<div class="well">
			<input id="testslider" data-slider-id='ex1Slider' type="text" data-slider-min="-5" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>
		</div>
		{% block content %}
		<!-- derived templates can insert themselves -->
		{% endblock %}
	</body>
</html>