<html>
    <head>
        <title>YDC2 Image Viewer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Bootstrap -->
        <!-- CSS -->
        <link href="/static/css/bootstrap.css" type="text/css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap-responsive.css" type="text/css" rel="stylesheet">
        <link href="../static/css/jquery.galereya.css" rel="stylesheet"/>

        <link href='http://fonts.googleapis.com/css?family=Merriweather&#8217' rel='stylesheet' type='text/css'>
        
        <!-- javascript -->
        <script type="text/javascript" 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>       
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.galereya.js"></script>
        <script>
        
        $(function() {
            $('#galleryherepls').galereya();
        });
        </script>

        <style>
            body {
                padding-top: 10px;
                font-size: 16px;
                font-family: "Merriweather",serif;
            }            

            h1 {
                font-family: "Merriweather", serif;
                font-weight: 400;
                font-size: 40px;
            }

            .margin-base-vertical {
                margin: 5px 0;
            }

        </style>

    </head>

    <body>
        {% block content %}
        <!-- derived templates can insert themselves -->
        {% endblock %}

    </body>
</html>