{% extends "base.html" %}
 -->{% block content %}

 <div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-1">
            <div class = "page-header">
            	<h1>
                	YDC2 <small> images throughout the years </small> 
                </h1>
            </div>

            <form class="margin-base-vertical" 
            action="{{url_for('index')}}" name = 'searchForm' method='GET'>
            	<input type="text" class="form-control input-lg" name="publishDate"/> <br>
			    <button type="submit" class="btn btn-success btn-lg">Find</button>
			</form>
        </div>
    </div>
</div>

<!-- Galereya -->
{%if Images %}
<div id="galleryherepls">
    {% for image in Images %}
            <img src= {{image.resourceUrl[0]}}
                title= "{{image.title}}" 
                data-fullsrc= {{image.resourceUrl[0]}}
            />        
    {% endfor %}
   </div>
{% endif %}
<!-- </body> -->
{% endblock %}