{% extends "base.html" %}
 -->{% block content %}
<!-- <body> -->
<form role="form" action="{{url_for('index')}}" name = 'searchForm' method='GET'>
	<div class="form-group">
		<input type="text" class="form-control" name="publishDate" > <br>
		<input type="submit" class="form-control" value="Find" class="submitButton"/>
	</div>
</form>

{%if Images %}
<div id="galleryherepls">
    {% for image in Images %}
            <img src= {{image.resourceUrl[0]}}
                title= "{{image.title}}" 
                data-fullsrc= {{image.resourceUrl[0]}}
            />        
    {% endfor %}
   </div>
{% endif %}
<!-- </body> -->
{% endblock %}